<div class="board-container">
    <div class="overflow-content">
        <div 
            class="board-list"
            cdkDropList
            [cdkDropListData]="board.decks"
            (cdkDropListDropped)="onDeckDrop($event)"
            cdkDropListOrientation="horizontal"
        >
            @for(deck of board.decks; track deck){
                <div 
                    cdkDrag
                    [cdkDragData]="deck"
                    style="min-width: 200px; margin-right: 1pem;"
                >
                    <deck 
                        [deck]="deck" 
                        [onDrop]="onDrop" 
                        [connectedDropLists]="connectedDropLists(deck.id)"
                    />
                </div>
            }

            <button (click)="service.createDeck()">Add Deck</button>
        </div>
    </div>
</div>