<div
    (dblclick)="setEditable()"
    (contextmenu)="onContextMenu($event)"
>
    <textarea 
        #noteTextArea
        class="note-textarea"
        [style]="style"
        [(ngModel)]="note.title"
        [disabled]="!onEdit"
        (blur)="state.updateCurrentBoard()" 
    ></textarea>

</div>

<div
    style="visibility: hidden; position: absolute"
    [style.left]="menuPosition.x"
    [style.top]="menuPosition.y"
    [matMenuTriggerFor]="noteMenu"
></div>

<mat-menu #noteMenu="matMenu">
    <ng-template matMenuContent>
        <p>NOTE:</p>
        <button mat-menu-item (click)="remove()">Delete</button>
    </ng-template>
</mat-menu>

    <!-- [matMenuTriggerFor]="noteMenu" -->