<div 
    class="min-width-[200px] mr-[1pem] p-2 border-black border-2"
    (contextmenu)="onContextMenu($event)"
>

    <p class="w-full text-center font-medium">{{deck.name}}</p>
    <div
        class="min-h-32"
        cdkDropList
        [id]="deck.id"
        [cdkDropListData]="deck.notes"
        [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="onNoteDrop($event)"
    >
        @for(note of deck.notes; track note){
            <note 
                [note]="note" 
                cdkDrag 
            />
        }
    </div>
    <div class="add-note-container">
        <button mat-stroked-button
            (click)="addNewNote()"  
        >Add note</button>
    </div>
</div>


<div
    style="visibility: hidden; position: absolute"
    [style.left]="menuPosition.x"
    [style.top]="menuPosition.y"
    [matMenuTriggerFor]="contextMenu"
></div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <p>DECK</p>
        <button mat-menu-item (click)="removeDeck()">Delete</button>
    </ng-template>
</mat-menu>

        <!-- cdkDropList 
        [id]="deck.id"
        [cdkDropListData]="deck.notes"
        [cdkDropListConnectedTo]="connectedDropLists(deck.id)"
        (cdkDropListDropped)="onDrop($event)" -->