<mat-card>
    <mat-card-content>
        <p>{{deck.title}}</p>
        <div
            cdkDropList 
            [id]="deck.id"
            [cdkDropListData]="deck.notes"
            [cdkDropListConnectedTo]="connectedDropLists(deck.id)"
            (cdkDropListDropped)="onDrop($event)"
        >
            @for(note of deck.notes; track note){
                <note 
                    [note]="note" 
                    cdkDrag 
                    (delete)="handleDelete($event)"
                />
            }
        </div>
        <div class="add-note-container">
            <button mat-stroked-button
                (click)="addNewNote()"  
            >Add note</button>
        </div>
    </mat-card-content>
</mat-card>