<div>
    
    <div class="flex flex-row justify-between items-center">

        <div class="h-full w-[50%] flex flex-col justify-start items-center">
            <sign-up-form></sign-up-form>
            <div class="mt-4">
                <a href="signin">Already have an account?</a>
            </div>
        </div>
        
        <div class="w-[50%] min-h-full flex flex-col justify-start items-start">
            <h2>Kanban app</h2>
            <p>This is a simple kanban application</p>
        </div>

    </div>

</div>